# Managed by grafhome-ca. Rendered copies must be reviewed before rollout.
PermitRootLogin no
StrictModes ${GRAFHOME_CA_STRICT_MODES}
${GRAFHOME_CA_AUTHORIZED_KEYS_DIRECTIVE}
HostCertificate ${GRAFHOME_CA_HOST_CERT_PATH}
TrustedUserCAKeys ${GRAFHOME_CA_SSH_TRUST_DIR}/user_ca_keys.pem
AuthorizedPrincipalsFile ${GRAFHOME_CA_AUTH_PRINCIPALS_FILE}
RevokedKeys ${GRAFHOME_CA_SSH_TRUST_DIR}/revoked_user_certs
